<div class="container content-header">
  <div class="text-center">
    <img src="assets/money.jpg" class="rounded content-header__logo">
  </div>
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cotiza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Agencias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
</ul>
</div>
